{% extends "market/navigation.html" %}
{% load static %}
{% block content %}
                {% if messages %}
            <div class="alert alert-danger" role="alert">
            {% for message in messages %}
                <p class="text-monospace small" style="margin-bottom:0px;">{{message}}. </p>
            {% endfor %}
            </div>
            <hr>
        {% endif %}
        {% if cart_empty %}
            <div class="alert alert-info" role="alert">
                <p class="text-monospace small" style="margin-bottom:0px;">Your basket is empty, take a look at some of <a href="/designs">our designs</a>.</p>
            </div>
        {% endif %}
                <div class="row">
                    
                     <div class="col">
                         
                         <table class="table table-hover table-light">
                             <thead>
                               <tr>
                                 <th scope="col">Design</th>
                                 <th scope="col">Name</th>
                                 <th scope="col">Description</th>
                                 <th scope="col">Price</th>
                                 <th scope="col">Actions</th>
                               </tr>
                             </thead>
                             <tbody class="align-middle">
                                 {% for design in designs %}
                                     <tr >
                                         
                                         <td><div class="test tower"><a href="/{{design.id}}"><img src="{% static design.display_image %}" class="img-thumbnail2"></a></div></td>
                                         <td>{{design.name}}</td>
                                         <td>{{design.desc}}</td>
                                         {% if design.on_sale %}
                                             <td>${{design.sale_price}}</td>
                                         {% else %}
                                         <td>${{design.price}}</td>
                                         {% endif %}

                                         
                                         
                                         <td>    
                                                 <a href="/{{design.id}}">
                                                     <button type="button" class="btn btn-secondary btn-sm">View</button></a>
                                                     <form action="/remove/{{design.id}}" class="inline-block" method="POST">{% csrf_token %}<input type="hidden" name="refURL" value="{{request.path}}?{{request.META.QUERY_STRING}}"><button class="btn btn-secondary btn-sm">Remove</button> </form> 
                                                 
                                         </td>
                                     </tr>
                                 {% endfor %}
                                     <tr>
                                         <td></td>
                                         <td></td>
                                         <td>Number of Designs: {{designs | length}}</td>
                                         <td>
                                             ${{cart_total}}
                                         </td>
                                         <!-- <td><a href="/checkout"><button  class="btn btn-primary">Checkout</button></a></td> -->
                                         <td>
                                             {% if 'user_id' in request.session %}
                                                <form action="/cart" method="post">
                                                    {% csrf_token %}
                                                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                                        data-key="{{public_key}}"
                                                        data-description="ShirtAtlas"
                                                        data-amount="{{charge_price}}"
                                                        data-locale="auto"
                                                    >
                                                    </script>
                                                </form>
                                            {% else %}
                                                <a href="/register"><button type="button" class="btn btn-secondary btn-sm">Register</button></a>
                                                <a href="/login"><button type="button" class="btn btn-secondary btn-sm">Login</button></a>
                                            {% endif %}
                                        </td>
                                     </tr>
                             </tbody>
                           </table>
                           
                        </div>
                </div>
    {% endblock %}    