{% extends "market/test.html" %}
{% load static %}
{% block content %}
        {% if messages %}
            <div class="alert alert-danger" role="alert">
            {% for message in messages %}
                <p class="text-monospace small" style="margin-bottom:0px;">{{ forloop.counter }}) {{message}} </p>
            {% endfor %}
            </div>
            <hr>
        {% endif %}

        <div class="row">
                <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                    {% if current_cat %}
                                    <button type="button" id="test123" class="btn btn-secondary btn-sm reduce">All</button>
                                    {% else %}
                                    <button type="button" id="test123" class="btn btn-primary btn-sm reduce">All</button>
                                    {% endif %}
                                    {% for c in cats %}
                                        {% if current_cat is not iterable %}
                                                {% if c in current_cat %}
                                                    <button type="button" id="test123" class="btn btn-primary btn-sm reduce wegweg">{{c}}</button>
                                                {% else %}
                                                    <button type="button" id="test123" class="btn btn-secondary btn-sm reduce wegweg">{{c}}</button>
                                                {% endif %}

                                        {% else %}
                                            {% if current_cat == c %}
                                                <button type="button" id="test123" class="btn btn-primary btn-sm reduce ttt">{{c}}</button>
                                            {% else %}
                                                <button type="button" id="test123" class="btn btn-secondary btn-sm reduce ttt">{{c}}</button>
                                            {% endif %}

                                         {% endif %}   
                                    {% endfor %}


                                    <hr>
                            </div>
                        </div>
                        <div class="row">
                                {% for design in designs %}
                                <div class="col-lg-3">
                                      <div class="card">
                                          <h5 class="card-header">{{design.name}}</h5>
                                          <div class="card-body">
                                                  <img src="{% static design.display_image %}" class="img-thumbnail">
                                                  <hr>
                                            <div class="float-right"><a href="/{{design.id}}" class="btn btn-primary btn-sm">View</a>  <form action="add/{{design.id}}" class="inline-block" method="POST">{% csrf_token %}<input type="hidden" name="refURL" value="{{request.path}}?{{request.META.QUERY_STRING}}"><button class="btn btn-warning btn-sm">Buy</button> </form> </div> <h5 class="card-title"><b>${{design.price}}</b></h5>
                                          </div>
                                      </div>
                                      <br>
                                </div>
                                {% endfor %}
                        </div>
                     </div>
        </div>
       
        <div class="row justify-content-md-center">
                <div class="col-2">
                     {% if designs.has_other_pages %}
                     <ul class="pagination">
                         {% if designs.has_previous %}
                            {% if current_cat %}
                                <li class="page-item"><a href="?cat={{string_url}}&amp;page={{ designs.previous_page_number }}" class="page-link">&laquo;</a></li>
                            {% else %}
                                <li class="page-item"><a href="?page={{ designs.previous_page_number }}" class="page-link">&laquo;</a></li>
                            {% endif %}
                        {% else %}
                            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                            
                         {% endif %}
                         {% for i in designs.paginator.page_range %}
                         {% if designs.number == i %}
                             <li class="active page-item"><span><a href="?cat={{string_url}}&amp;page={{ i }}" class="page-link">{{ i }}</a> <span class="sr-only">(current)</span></span></li>
                         {% else %}
                             {% if current_cat %}
                                <li lass="page-item"><a href="?cat={{string_url}}&amp;page={{ i }}" class="page-link">{{ i }}</a></li>
                             {% else %}
                                <li lass="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                             {% endif %}
                         {% endif %}
                         {% endfor %}
                         {% if designs.has_next %}
                            {% if current_cat %}
                                <li class="page-item"><a href="?cat={{string_url}}&amp;page={{ designs.next_page_number }}" class="page-link">&raquo;</a></li>
                            {% else %}
                                <li class="page-item"><a href="?page={{ designs.next_page_number }}" class="page-link">&raquo;</a></li>
                            {% endif %}
                         {% else %}
                         <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                         {% endif %}
                     </ul>
                     {% endif %}
     
                </div>
            </div>

{% endblock %}    