{% extends "market/test.html" %}
{% load static %}
{% block content %}
    <div class="row">   
                    <div class="col-sm-4">
                        <img src="{% static design.display_image %}" class="img-thumbnail">
                    </div>

                    <div class="col-sm-8">                            
                        {% if design.paused and design.designer.id == request.session.user_id %}
                            <div class="alert alert-warning" role="alert">
                                    Your design is currently paused and hidden, <a href="/portfolio/{{request.session.user_id}}">update</a> your listing to make public!
                            </div>
                        {% endif %}
                        <div class="card">
                            <h5 class="card-header">{{design.name}}</h5>
                            <div class="card-body">
                                {% if design.on_sale %}
                                    <h5 class="card-title"><span class="oldprice">${{design.price}}</span> <b>${{design.sale_price}}</b></h5>
                                {% else %}
                                    <h5 class="card-title">${{design.price}}</h5>
                                {% endif %}
                                <p class="card-text">{{design.desc}}</p>
                                <h6 class="card-title">Licenses Available: {{design.licenses}}</h6>
                                <hr>
                                {% if design.designer.id == request.session.user_id %}
                                    <div class="alert alert-info" role="alert">Buy button is disabled, shoppers will not be able to edit or view sales.</div>
                                    <button class="btn btn-warning">Buy</button> 
                                {% else %}
                                    {% if design.id in request.session.cart %}
                                        <a href="/cart" class="btn btn-primary btn-sm">Checkout</a> 
                                        <form action="/remove/{{design.id}}" class="inline-block" method="POST">{% csrf_token %}<input type="hidden" name="refURL" value="{{request.path}}?{{request.META.QUERY_STRING}}"><input type="hidden" name="backURL" value="{{request.META.HTTP_REFERER}}"><button class="btn btn-secondary btn-sm">Remove from Cart</button> </form> 
                                    {% else %}
                                        <form action="/add/{{design.id}}" class="inline-block" method="POST">{% csrf_token %}<input type="hidden" name="refURL" value="{{request.path}}?{{request.META.QUERY_STRING}}"><input type="hidden" name="backURL" value="{{request.META.HTTP_REFERER}}"><button class="btn btn-warning btn-sm">Buy</button> </form> 
                                    {% endif %}
                              {% endif %}
                            </div>
                        </div>
                        <br>
                            {% if messages %}
                                {% for message in messages %}
                                    <a href="{{message}}" class="btn btn-secondary">Go Back</a>
                                {% endfor %}
                            {% else %}
                                <a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary">Go Back</a>
                            {% endif %}
                            {% if design.designer.id == request.session.user_id %}
                            <div class="float-right">
                                <a href="/portfolio/{{request.session.user_id}}/edit/{{design.id}}" class="btn btn-secondary">Edit Design</a>
                                <a href="/portfolio/{{request.session.user_id}}/performance/{{design.id}}" class="btn btn-secondary" data-toggle="modal" data-target=".bd-example-modal-lg">View Sales</a>
                            </div> 
                    </div>

                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title h4">Sales Performance</h5>
                                        
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                   <table class="table table-bordered table-dark table-hover">
                                       <thead>
                                        <tr>
                                            <td>Order Date</td>
                                            <td>License #</td>
                                            <td>Final Price</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for sale in sales %}
                                            <tr>
                                                <td>{{sale.created_at | date:'M-d-Y'}}</td>
                                                <td>{{sale.id}}</td>
                                                <td>${{sale.charged_price}}</td>
                                            </tr>
                                            {% endfor %}
                                            <tr>
                                                <td colspan="2 align-left">Total Revenue:</td>
                                                <td>${{revenue}}</td>
                                            </tr>
                                        </tbody>
                                   </table>
                                </div>
                            </div>
                        </div>
                    </div>
                      {% endif %}  
            </div>
       </div>
       

    </div>
{% endblock %}    