{% extends "market/navigation.html" %}
{% load static %}
{% block content %}
        <div class="container-fluid">
                  <div class="row justify-content-center">
                    <div class="col-md-8">
                        <h3>Edit Your Design</h3>
                        <hr>
                        {% if messages %}
                            <div class="alert alert-danger" role="alert">
                            {% for message in messages %}
                                <p class="text-monospace small" style="margin-bottom:0px;">{{ forloop.counter }}) {{message}}. </p>
                            {% endfor %}
                            </div>
                            <hr>
                        {% endif %}
                        <form action="/portfolio/{{request.session.user_id}}/edit/{{design.id}}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{request.session.user_id}}">
                            <input type="hidden" name="design_id" value="{{design.id}}">
                            <div class="form-row">
                                <div class="form-group col">     
                                    <label for="inputName">Name</label>                 
                                    <input type="text" class="form-control" id="inputName" name="name" value="{{design.name}}">
                                </div>
                            </div>
                            <div class="form-group">
                                    Display Image
                    
                                    <div class="col" style="margin-top:5px;">
                                            <input type="file" class="custom-file-input" id="displayFile" name="design_image">
                                            <label class="custom-file-label" for="displayFile">Choose file - New Display Image</label>
                                            <small id="displayFile" class="form-text text-muted">
                                                    Image to feature your design on our website, please use <a href="https://placeit.net/" target="new">PlaceIt</a>.
                                            </small>
                                        </div>
                            </div>
                            <div class="form-group">
                                    Design File
                                    
                                    <div class="col" style="margin-top:5px;">
                                            <input type="file" class="custom-file-input" id="designFile" name="design_file">
                                            <label class="custom-file-label" for="designFile">Choose file - New Design Image</label>
                                            <small id="designFile" class="form-text text-muted">
                                                    This is the design file issued with the license, please use a png or jpg.
                                            </small>
                                    </div>
                                        
                            </div>
                            <div class="form-group">
                                <label for="inputDesc">Description</label>
                                <input type="text" class="form-control" id="inputDesc" name="desc" value="{{design.desc}}">
                            </div>
                            <div class="form-row">
                                    <div class="form-group col-md-6">
                                            <label for="inputCategory">Categories</label>
                                            <select multiple="multiple" class="form-control" id="inputCategory" name="category" style="height:82%; margin-bottom: 5px;">
                                                    {% for c in cats %}
                                                        {% if c in design.categories %}
                                                            <option selected>{{c}}</option>
                                                        {% else %}
                                                            <option>{{c}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                            </select>
                                            <small id="inputCategory" class="form-text text-muted">
                                                    Current Cats: 
                                                    {% for cat in design.categories %}
                                                        {% if forloop.last %}
                                                            {{cat}}. Re-select all categories, max 3.
                                                        {% else %}
                                                            {{cat}},
                                                        {% endif %}
                                                    {% endfor %}
                                            </small>
                                            <div class="d-block d-none d-sm-block d-md-none"><br><br></div>        
                                    </div>
                                    
                                <div class="form-group col-md-6">
                                    <label for="inputPrice">Price</label>
                                    <input type="number" class="form-control" id="inputPrice" name="price" value="{{design.price}}" step="0.01" min=5>
                                    <small id="inputPrice" class="form-text text-muted">
                                            Minimum list price is $5 for a design.
                                    </small>
                                    <hr>
                                    <label for="inputLicenses"># of Licenses</label>
                                    <input type="number" class="form-control" id="inputLicenses" name="licenses" value="{{design.licenses}}" min=1>
                                    <small id="inputLicenses" class="form-text text-muted">
                                            How many licenses do you want to sell?
                                    </small>
                                </div>
                            </div>
                            <hr>
                          <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                        <hr>
                        <a href="/{{design.id}}"> <button type="button" class="btn btn-secondary btn-sm" data-container="body" data-toggle="popover" data-placement="top" data-content="View your listing on the marketplace." data-trigger="hover">View</button></a>
                        {% if design.paused %}    
                            <a href="/portfolio/{{request.session.user_id}}/pause/{{design.id}}">
                            <button type="button" class="btn btn-secondary btn-sm" data-container="body" data-toggle="popover" data-placement="top" data-content="Unpause to sell again and add to public listings." data-trigger="hover">Unpause</button></a>
                        {% else %}      
                            <a href="/portfolio/{{request.session.user_id}}/pause/{{design.id}}">
                            <button type="button" class="btn btn-secondary btn-sm" data-container="body" data-toggle="popover" data-placement="top" data-content="Pause sales and temporarily remove from public listings." data-trigger="hover">Pause</button></a>
                        {% endif %}
                            <a class="float-right" href="/portfolio/{{request.session.user_id}}/delete/{{design.id}}"> <button type="button" class="btn btn-danger btn-sm" data-container="body" data-toggle="popover" data-placement="top" data-content="This will permanently delete this listing, you can hide this from the marketplace by pausing your campaign." data-trigger="hover">Delete</button></a>
                    </div>
                  </div>
    {% endblock %}    
