{% extends "market/test.html" %}
{% load static %}
{% block content %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
        {% for message in messages %}
            <p class="text-monospace small" style="margin-bottom:0px;">{{message}} </p>
        {% endfor %}
        </div>
        <hr>
        {% endif %}
        <h2><span class="badge badge-success" >New Arrivals</span> </h2>




        <div class="row ">
            {% for design in new_designs %}
              <div class="col-md">

                    <div class="card">
                        <h5 class="card-header">{{design.name}}</h5>
                        <div class="card-body">
                                <img src="{% static design.display_image %}" class="img-thumbnail">
                                <hr>

                          <div class="float-right"><a href="/{{design.id}}" class="btn btn-primary btn-sm">View</a> <form action="add/{{design.id}}"  class="inline-block" method="POST">{% csrf_token %}<input type="hidden" name="refURL" value="{{request.path}}?{{request.META.QUERY_STRING}}"><button class="btn btn-warning btn-sm">Buy</button> </form>   </div> <h5 class="card-title"><b>${{design.price}}</b></h5>
                         

                        </div>
                    </div>
                    
 
              </div>
                {% endfor %}
            
        </div>
        <hr>
        <h2><span class="badge badge-warning">On Sale</span></h2>
        <div class="row ">
                {% for design in sale_designs %}
                  <div class="col-md">
    
                        <div class="card">
                            <h5 class="card-header">{{design.name}}</h5>
                            <div class="card-body">
                                    <img src="{% static design.display_image %}" class="img-thumbnail">
                                    <hr>
    
                              <div class="float-right"><a href="/{{design.id}}" class="btn btn-primary btn-sm">View</a> <form action="add/{{design.id}}" class="inline-block" method="POST">{% csrf_token %}<input type="hidden" name="refURL" value="{{request.path}}?{{request.META.QUERY_STRING}}"><button class="btn btn-warning btn-sm">Buy</button> </form>   </div> <h5 class="card-title"><span class="oldprice">${{design.price}}</span> <b>${{design.sale_price}}</b></h5>
                             
    
                            </div>
                        </div>
                        
     
                  </div>
                    {% endfor %}
            </div>
{% endblock %}