{% extends "market/navigation.html" %}
{% load static %}
{% block content %}
          <div class="row justify-content-center">
            <div class="col"><div class="float-right"><a href="/vieworders"><button class="btn btn-secondary">Go Back</button></a></div>
                <h2>Order #{{order_id}} </h2> 
                
                
                <hr>
                <table class="table table-hover table-light">
                        <thead>
                          <tr>
                            <th scope="col">License #</th>
                            <th scope="col">Design</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Cost</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody class="align-middle">
                            {% for order in orders %}
                                <tr >
                                    <td>{{order.id}}</td>
                                    <td><div class="test tower"><a href="/{{order.design.id}}"><img src="{% static order.design.display_image %}" class="img-thumbnail2"></a></div></td>
                                    <td>{{order.design.name}}</td>
                                    <td>{{order.design.desc}}</td>
                                    <td>${{order.charged_price}}</td> 

                                    
                                    
                                    <td>    
                                            <a href="/{{order.design.id}}"><button type="button" class="btn btn-secondary btn-sm">View</button></a>
                                            
                                    </td>
                                </tr>
                            {% endfor %}
                                
                        </tbody>
                      </table>
            </div>
            
          </div>
          
{% endblock %}