{% extends "market/navigation.html" %}
{% load static %}
{% block content %}
          <div class="row justify-content-center">
            <div class="col-md-8">
              <h3>Edit your Password</h3> 
              <hr>
              {% if messages %}
              <div class="alert alert-danger" role="alert">                
                
                {% for message in messages %}
                
                  <p class="text-monospace small" style="margin-bottom:0px;">{{message}}. </p>
                {% endfor %}
              </div>
              <hr>
            {% endif %}
              <form action="/editpassword" method="post">
                {% csrf_token %}
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputName">Current Password</label>
                      <input type="password" class="form-control" id="inputName" name="password" placeholder="Current Password">
                    </div>
                    <div class="form-group col-md-6">
                    
                    </div>
                  </div>
                  <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputPassword">New Password</label>
                            <input type="password" class="form-control" id="inputPassword" name="new_password" placeholder="New Password">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputConfirmPassword">Confirm New Password</label>
                            <input type="password" class="form-control" id="inputConfirmPassword" name="c_password" placeholder="Confirm New Password">
                        </div>
                    </div>
                    <input type="hidden" value="{{request.session.user_id}}" name="id">
                  
    
                  <button type="submit" class="btn btn-primary">Update</button>
                </form>
                <hr>
                <a href="/editprofile"><button type="submit" class="btn btn-secondary btn-sm">Back to profile</button></a>

            
            </div>
          </div>
{% endblock %}