{% extends "market/test.html" %}
{% load static %}
{% block content %}
<div class="row justify-content-center">
            <div class="col">
                <table class="table table-hover table-light">
                    <thead>
                      <tr>
                        <th scope="col">Design</th>
                        <th scope="col">Name</th>
                        <th scope="col">Licenses</th>
                        <th scope="col">Price</th>
                        <th scope="col">Orders</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for design in designs %}
                            <tr>
                                
                                <td><div class="test tower"><a href="/{{design.id}}"><img src="{% static design.display_image %}" class="img-thumbnail2"></a></div></td>
                                <td>{{design.name}}</td>
                                <td>{{design.licenses}}</td>
                                {% if design.on_sale %}
                                    <td><span class="oldprice">${{design.price}}</span> ${{design.sale_price}}</td>
                                {% else %}
                                <td>${{design.price}}</td>
                                {% endif %}
                                <td>{{design.sales}}</td>
                                
                                
                                <td>    
                                        <a href="/{{design.id}}">
                                            <button type="button" class="btn btn-secondary btn-sm" data-container="body" data-toggle="popover" data-placement="top" data-content="View how your listing looks to the public." data-trigger="hover">View</button></a>
                                        <a href="/portfolio/{{request.session.user_id}}/edit/{{design.id}}">
                                            <button type="button" class="btn btn-secondary btn-sm" data-container="body" data-toggle="popover" data-placement="top" data-content="Edit the design, add more licenses or delete listing completely." data-trigger="hover">Edit</button></a>
                                        {% if design.paused %}    
                                        <a href="/portfolio/{{request.session.user_id}}/pause/{{design.id}}">
                                            <button type="button" class="btn btn-secondary btn-sm" data-container="body" data-toggle="popover" data-placement="top" data-content="Unpause to sell again and add to public listings." data-trigger="hover">Unpause</button></a>
                                        {% else %}      
                                        <a href="/portfolio/{{request.session.user_id}}/pause/{{design.id}}">
                                            <button type="button" class="btn btn-secondary btn-sm" data-container="body" data-toggle="popover" data-placement="top" data-content="Pause sales and temporarily remove from public listings." data-trigger="hover">Pause</button></a>
                                        {% endif %}
                                        {% if design.on_sale %}    
                                        <a href="/portfolio/{{request.session.user_id}}/sale/{{design.id}}">
                                            <button type="button" class="btn btn-secondary btn-sm" data-container="body" data-toggle="popover" data-placement="top" data-content="Remove 10% discount and list at regular price." data-trigger="hover">Remove Discount</button></a>
                                        {% else %}      
                                        <a href="/portfolio/{{request.session.user_id}}/sale/{{design.id}}">
                                            <button type="button" class="btn btn-secondary btn-sm" data-container="body" data-toggle="popover" data-placement="top" data-content="Put this item on sale, we apply a 10% discount based on the list price." data-trigger="hover">Discount</button></a>
                                        {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                  
                </div>
            </div>
       <div class="row justify-content-md-center">
           <div class="col-2">
                {% if designs.has_other_pages %}
                <ul class="pagination">
                    {% if designs.has_previous %}
                    <li class="page-item"><a href="?page={{ designs.previous_page_number }}" class="page-link">&laquo;</a></li>
                    {% else %}
                    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}
                    {% for i in designs.paginator.page_range %}
                    {% if designs.number == i %}
                        <li class="active page-item"><span><a href="?page={{ i }}" class="page-link">{{ i }}</a> <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li lass="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if designs.has_next %}
                    <li class="page-item"><a href="?page={{ designs.next_page_number }}" class="page-link">&raquo;</a></li>
                    {% else %}
                    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}

           </div>
       </div>

{% endblock %}