{% extends "market/navigation.html" %}
{% load static %}
{% block content %}
          <div class="row justify-content-center">
            <div class="col-md-8">
              <h3>Register for an Account</h3>
              <hr>
              {% if messages %}
              <div class="alert alert-danger" role="alert">                
                
                {% for message in messages %}
                
                  <p class="text-monospace small" style="margin-bottom:0px;">{{ forloop.counter }}) {{message}}. </p>
                {% endfor %}
              </div>
              <hr>
            {% endif %}
              <form action="/register" method="post">
                {% csrf_token %}
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputName">Name</label>
                      <input type="text" class="form-control" id="inputName" name="name" placeholder="Full Name">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputEmail">Email</label>
                      <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <label for="inputPassword">Password</label>
                          <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputConfirmPassword">Confirm Password</label>
                            <input type="password" class="form-control" id="inputConfirmPassword" name="c_password" placeholder="Confirm Password">
                          </div>
                    </div>
                  
                  <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" name="address" placeholder="1234 Main St">
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCity">City</label>
                      <input type="text" class="form-control" name="city" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputState">State</label>
                      <select id="inputState" name="state" class="form-control">
                        <option selected>Choose...</option>
                        {% for st in states %}
                        <option>{{st}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="inputZip">Zip</label>
                      <input type="text" class="form-control" name="zip_code" id="inputZip">
                    </div>
                  </div>
    
                  <button type="submit" class="btn btn-primary">Register</button>
                </form>

            
            </div>
          </div>
        <hr>
        <div class="row">
            <div class="col text-center">www.shirtatlas.com</div>
        </div>
  {% endblock %}